  <!-- Main content -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<section class="container">
   
    <div class="col-sm-12">
        <div class="checkout-wrapper">

            <h2 class="page-heading">Contact information</h2>

            <form id='contact-info' method='post' novalidate="" class="form contact-info">
                <div class="contact-info__field contact-info__field-mail">
                    <input type='email' name='user-mail' placeholder='Your email' class="form__mail user-mail">
                </div>
                <div class="contact-info__field contact-info__field-tel">
                    <input type='tel' name='user-tel'  placeholder='Phone number' class="form__mail user-tel">
                </div>
                <div class="contact-info__field contact-info__field-ticket">

                    <input type='number' name='user-ticket'  placeholder='Broj karata' class="form__mail user-ticket">
                </div>
               
            </form>

            <p class="reservation-message">Fill your contact information to recieve your reservation code. Reserved tickets are removed 20 minutes befor the session is due to start</p>

        </div>

        <div class="order">
            <a style="cursor: pointer;" id="reserveBtn" class="btn btn-md btn--warning btn--wide">reserve</a>
        </div>

    </div>

</section>


<div class="clearfix"></div>

<script>
      $("#booking-pagination__prev").click(function () {
            $.ajax({
                url: '@Url.Action("BookingStepTwo", "Reservation")',
            })
                .done(function (response) {
                    $("#bookingStepActionContainer").html(response);
                    focusAction("bookingStepActionContainer")
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail")
                });
      });

    $("#reserveBtn").click(function () {
        var chooseMovie = $('.choosen-movie').val();
        var chooseCity = $('.choosen-city').val();
        var chooseDate = $('.choosen-date').val();
        var chooseCinema = $('.choosen-cinema').val();
        var chooseTime = $('.choosen-time').val();
        var userEmail = $('.user-mail').val();
        var userPhoneNummber = $('.user-tel').val();
        var userTicket = $('.user-ticket').val();
        var movieId = $('.choosen-movie-id').val();
       
        $.ajax({
            type: 'POST',
            url: '@Url.Action("BookingReservationFinal", "Reservation")',
            data: {
                chooseMovie: chooseMovie,
                chooseCity: chooseCity,
                chooseDate: chooseDate,
                chooseCinema: chooseCinema,
                chooseTime: chooseTime,
                userEmail: userEmail,
                userPhoneNummber: userPhoneNummber,
                userTicket: userTicket,
                movieId: movieId
              
            }
            })
                .done(function (response) {
                    $("#bookingStepActionContainer").html(response);
                    focusAction("bookingStepActionContainer")
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail")
                });
      });
</script>