
@{
    ViewBag.Title = "Index";
}



<!-- Main content -->
<div id="bookingStepActionContainer" style="margin-top:100px;">
    @{ Html.RenderAction("BookingStepOne"); }
</div>

<script>
    function focusAction(controlToFocus) {
        $("html, body").animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }

</script>