
@{
    ViewBag.Title = "PageNotFound";
}

<div class="wrapper">
    <div class="error-wrapper">
        <a href='@Url.Action("Index","Home")' class="logo logo--dark">
            <img alt='logo' src="~/Content/images/logo-dark.png">
            <p></p>
        </a>

        <div class="error-page">
            <img alt='' src='~/Content/images/error.png' class="error__image">
            <h1 class="error__text">Žao nam je, ovu stranicu ne možemo pronaći</h1>
            <a href="@Url.Action("Index","Home")" class="btn btn-md btn--warning">vrati se na početnu stranu</a>
        </div>
    </div>

    <div class="copy-bottom">
        <p class="copy">&copy; A.Movie, 2021. Sva prava zadržana.</p>
    </div>
</div>

