
@{
    ViewBag.Title = "PageNotFound";
}

<div class="wrapper">
    <div class="error-wrapper">
        <a href='index.html' class="logo logo--dark">
            <img alt='logo' src="~/Content/images/logo-dark.png">
            <p class="slogan--dark">fun to search, fun to watch</p>
        </a>

        <div class="error">
            <img alt='' src='~/Content/images/error.png' class="error__image">
            <h1 class="error__text">sorry, but page can’t be found</h1>
            <a href="@Url.Action("Index","Home")" class="btn btn-md btn--warning">return to homepage</a>
        </div>
    </div>

    <div class="copy-bottom">
        <p class="copy">&copy; A.Movie, 2013. All rights reserved. Done by Olia Gozha</p>
    </div>
</div>

